@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-image: url("./images/bg-intro-desktop.png");
    background-color: rgba(254,122,119,255);
}

.outercontainer{
    display: flex;
    width: 70%;
    height: 50%;
    margin: 140px auto auto auto;
}

.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

/* .box1{
    display: inline-block;
    margin-top: 40vh;
    margin-left: 15%;
}

.box1 h1{
    color: aliceblue;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

.box1 p{
    margin-top: 30px;
    color: aliceblue;
    font-weight: 400;
    font-size: 16px;
} */

.box1{
    color: white;
    align-self: center;
}

.box1 h1{
    font-weight: 700;
}

.box1 p{
    margin-top: 20px;
}

/* 
.box2{
    display: inline-block;
    margin-top: 20vh;
    margin-right: 10%;
    width:1200px;
    margin-left: 100px;
}

#intro{
    color: aliceblue;
    font-size: medium;
    background-color: rgb(99, 87, 168);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 8px rgba(0, 0, 0, 0.164);
    width: 100%;
}

#intro span{
    font-weight: bold;
}

#intro:hover{
    background-color: rgba(32, 18, 112, 0.747);
    cursor: pointer;
}

.box2 .form{
    background-color: white;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
}

.box2 form{
    display: flex;
    flex-direction: column;
    padding: 30px 60px 50px;
    justify-content: center;
    align-items: center;
    height: 450px;
    margin-bottom: 0;
}

.box2 .myinput{
    margin: 10px;
    width: 30%;
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    border: solid 1px #e2e0ec;
}

#submit{
    background-color: rgb(73, 196, 143);
    margin: 20px;
    width: 107%;
    padding: 20px;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: aliceblue;
    font-weight: 500;
    margin-bottom: 0;
    box-shadow: 0.1px 4px rgba(36, 100, 72, 0.795);
}

#submit:hover{
    background-color: #059154;
    cursor: pointer;
}

.btn:active {
    transform: translateY(4px);
    box-shadow: 0px 5px rgb(102, 102, 102);
} 

#bottom{
    margin-top: -50px;
    text-align: center;
    color: #bebbca;
    font-size: small;
}

#bottom span{
    color: rgba(255, 0, 0, 0.534);
}

#bottom span:hover{
    color: red;
    cursor: pointer;
} */

.box2{
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}

.try{
    text-align: center;
    padding: 12px;
    background-color: hsl(248, 32%, 49%);
    border-radius: 5px;
    color: white;
    box-shadow: 0px 5px hsla(250, 24%, 15%, 0.199);
}

.try span{
    font-weight: 700;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    background-color: white;
    border-radius: 7px;
    border: 2px;
    padding: 30px 25px;
}

form p{
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    color: hsl(246, 25%, 77%);
    padding: 0;
}

form span{
    color: hsl(0, 100%, 74%);
}

a{
    text-decoration: none;
}

input{
    padding: 12px;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
}

input:hover{
    border: 1px solid hsl(0, 0%, 45%);
}


button{
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-weight: 600;
    box-shadow: 0px 5px hsla(250, 24%, 15%, 0.199);
}

button:hover{
    opacity: 80%;
}

@media (max-width: 390px){
    body{
        background-image: url(./images/bg-intro-mobile.png);
    }

    .outercontainer{
        width: auto;
        margin: auto;
    }

    .box1 p{
        padding: 0 10px
    }

    .container{
        width: 90%;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        gap: 5em;
    }

    .box1{
        text-align: center;
    }

    .try{
        padding: 15px 80px;
    }

    form{
        padding: 25px;
    }

    form p{
        padding: 0 25px;
    }

    input{
        padding: 15px;
    }

    button{
        padding: 15px;
    }
}

@media (min-width: 400px) and (max-width: 480px){
    body{
        background-image: url(./images/bg-intro-mobile.png);
        background-repeat: no-repeat;
        /* background-color: ; */
    }

    .outercontainer{
        width: auto;
        margin: auto;
    }

    h1{
        padding: 0 50px;
    }

    .box1 p{
        padding: 0 52px;
    }

    .container{
        width: 90%;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        gap: 5em;
    }

    .box1{
        text-align: center;
    }

    .try{
        padding: 15px 100px;
    }

    form{
        padding: 25px;
    }

    form p{
        padding: 0 25px;
    }

    input{
        padding: 15px;
    }

    button{
        padding: 15px;
    }
}
